//$primary-color: rgb(146, 150, 151);
/*$secondary-color: rgba(255, 255, 255);*/
$secondary-color: rgb(19, 19, 19);
$interactive-color: #ffffff;
$inactive-color: #000000; // current page / disabled state
