.fade {
    opacity: 0;
  }



//link hover style
.blur {
    color: $primary;
    text-decoration: none;

    -webkit-filter: blur(0);
    filter: blur(0);



    &:hover {
        color: $primary;

        -webkit-transition: filter 0.1s ease-in-out 0s;
        -moz-transition: filter 0.1s ease-in-out 0s;
        transition: filter 0.1s ease-in-out 0s;

        -webkit-filter: blur(3px);
        filter: blur(3px);
    }
}






.coloranimate {
    
    -webkit-animation:colorchange 20s infinite alternate;
    
    
  }

  @-webkit-keyframes colorchange {
    0% {color: #0080FF;}
    10% {color: #929697;}   
    20% {color: #0ABB4F;}
    30% {color: #FD3845;}
    40% {color: #FFFD78;}//blue
    50% {color: #929697;}
    60% {color: #0080FF;}
    70% {color: #0ABB4F;}//lt blue/green
    80% {color: #FFFD78;}
    90% {color: #FD3845;}//lt blue
    100% {color: #FF9DB6;}
  }



  @-webkit-keyframes blink {
    from {color: #929697;}
    to {color: #e0e0e0;}
  }


 