.header {
  --font-size: 42px;
  --line-height: 63px;

  background: #111;
  padding: 40px;

  transition: all 0.25s ease;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: 300;
    max-width: 900px;
  }

  &__name {
    font-weight: 700;
    text-transform: uppercase;
  }

  &__right {
    font-size: 23px;
    line-height: 32px;
  }

  a {
    color: inherit;
    text-decoration: none;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background: currentColor;
      transition: opacity 0.2s ease;
    }

    &:hover::after {
      opacity: 0;
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    opacity: 0;
    pointer-events: none;
    background: none;
    border: none;
    color: #ccc;
    font-size: 24px;
  }

  &__expand {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
}