@import 'header';

body {
  margin: 0;
  background: #111;
  color: #ccc;
  font-family: sans-serif;
}




/**** States ****/

/* LARGE */
.header--large {
  --font-size: 42px;
  --line-height: 63px;
}

/* SMALL */
.header--small {
  --font-size: 17.5px;
  --line-height: 26px;
}

/* INFO */
.header--info {

  .header__text {
    opacity: 0;
  }

  .header__name {
    opacity: 1;
  }

  .header__close {
    opacity: 1;
    pointer-events: auto;
  }

  .header__expand {
    max-height: 100vh;
  }
}


/*** Page specific behavior ***/

/* Homepage = scroll behavior */
.page-home {
  .header {
    position: sticky;
    top: 0;
  }
}

/* Secondary page = hover behavior */
.page-secondary {
  .header {
    --font-size: 17.5px;
    --line-height: 26px;

    &:hover {
      --font-size: 42px;
      --line-height: 63px;
    }
  }
}


