{% assign row = include.row %}

{% if row.caption %}

    {% include project/caption.html
        title=row.caption.title
        text=row.caption.text %}

{% endif %}

<div class="{{ row.row_class | default: 'row' }} project-media-row">

    {% for item in row.items %}

    <div
        class="{{ item.col | default: 'col-md-16' }} project-media-item"
        {% if item.style %}style="{{ item.style }}"{% endif %}>

        {% include project/media-item.html item=item %}

    </div>

    {% endfor %}

</div>
