<!-- begin project info -->
<div class="container-fluid project-intro">

    <div class="row project-intro-paragraph pb-4 pb-md-6 pt-0">

        <!-- description -->
        <div class="{{ page.description_col | default: 'col-md-8 col-lg-7 pb-3' }}">

            {% for paragraph in page.description %}
                <p>{{ paragraph }}</p>
            {% endfor %}

        </div>

        {% unless include.hide_credits %}
          {% include project/credits.html %}
        {% endunless %}

    </div>

</div>
<!-- end project info -->
