/* --- header ---- */

.project-intro {
    //padding-top: 63px;
    padding-top: 40px;

    &-paragraph {
        //height: calc(100vh - 63px);
        padding-top: 63px;
    }

}


.full-width-img {
    width: 100% !important;
}

.h3ul {
    margin-bottom: 1.25rem;
    text-decoration: underline;
    line-height: 1.2;
}


.lg-full-ht {
    height: 87vh;

}

@media (max-width: 768px) {
    .lg-full-ht {
        height: 0 !important;
        padding-bottom: 0rem;

    }
}



// Stack about nav links from (788 and down)
@media (max-width: 854px) {
    #aboutheader ul li {
        float: left;
    }


    .project-intro {
        //padding-top: 100px !important;
        //padding-bottom:100px;

        &-paragraph {
            //height: calc(100vh - 63px);
            //padding-top: 100px !important;

        }
    }

    #projectinfo {
        position: relative;
    }

}




#downgradient {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999999;

    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
}





/*  --------- begin project --------- */

#projectinfo .col-18.mb-5 {
    margin-bottom: 0px !important;
}




/* Footer Navigation  */



#footernav {
    padding-left: 0;
}


@media (min-width: 768px) {
    #footernav li {
        display: inline;
        margin-right: 30px;

        &:last-child {
            margin-right: 0px;
        }
    }
}


//extended bottom margin
/*.pb-6 {
    padding-bottom: 100px;
}*/

//remove margins
.nomargin {
    margin: 0;
    padding: 0;
    overflow: hidden;

}

//add a space at the top of the page to clear header gradient
.topmargin {
    //padding-top: 63px;
    //padding-top: 100px;
    padding-top: 80px;
}


@media (max-width: 788px) {

    .topmargin {
        //padding-top: 100px !important;
        padding-top: 125px;
    }
}



/* ---- begin video sound btn overlay ---- */
.video-content {
    cursor: pointer;
    position: relative;
    margin: auto 0;
    overflow: hidden;


    &-video {
        width: 100%;
        opacity: 1;
    }


    &-details {

        position: absolute;
        width: 100%;
        opacity: 0;
        bottom: 0;
        right: 0;
        text-align: right;
        pointer-events: none;

        -webkit-transition: all 0.3s ease-in-out 0s;
        -moz-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;


        h3 {
            color: $primary;
            font-family: $font-stack !important;
            font-weight: $font-weight !important;

            margin-right: 10px;
            margin-bottom: 10px;

            cursor: pointer;
        }

    }


    &:hover {

        .video-content-details {
            opacity: 1;

        }

    }

}

//End content image



#credits {
    .bodyul {
        border-bottom: 2px solid #929697;
        padding-bottom: 0;
    }

    #roles {
        padding-left: 0;

        .collaborator {
            padding-bottom: .5rem;

            .role {
                //font-style: italic !important;
            }
        }
    }


}

#topgradient {
    z-index: 1031;

}


#backtowork {
    //z-index: 1031;
    //background-color: rgba(255, 255, 255, 1);
    position: relative;

    ul {
        text-decoration: none;
        padding-left: 0;

        li {
            margin-bottom: .5rem;
        }
    }

}

@media (max-width: 1170px) {
    #backtowork {
        display:none;
    }
}


.gradientHideMenu {
    pointer-events: none;

    background: linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0));
    z-index: 1031;

    /* This is a very clean gradient */
    /*   background: linear-gradient(to top, white, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to top, white,  rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, white, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
*/
}


/* Bottom Menu */

#bottomMenu {
    padding: 0;
    //padding-right: var(--bs-gutter-x, 1.75rem);
    //padding-left: var(--bs-gutter-x, 1.75rem);
    width: 100%;

    .row {
        //padding-right: var(--bs-gutter-x, 1.75rem);
        //padding-left: var(--bs-gutter-x, 1.75rem);
    }

}



.bottomnav-gradient {
    pointer-events: none;
    //height: 30px;
    height: 30px;
    position: relative;
    padding-right: var(--bs-gutter-x, 1.75rem);
    padding-left: var(--bs-gutter-x, 1.75rem);


    background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
    background: -webkit-linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));
    background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.945) 7.9%, rgba(255, 255, 255, 0.883) 15.3%, rgba(255, 255, 255, 0.815) 22.2%, rgba(255, 255, 255, 0.743) 28.7%, rgba(255, 255, 255, 0.667) 34.8%, rgba(255, 255, 255, 0.589) 40.6%, rgba(255, 255, 255, 0.509) 46.2%, rgba(255, 255, 255, 0.429) 51.7%, rgba(255, 255, 255, 0.348) 57.2%, rgba(255, 255, 255, 0.269) 62.8%, rgba(255, 255, 255, 0.193) 68.7%, rgba(255, 255, 255, 0.121) 75.2%, rgba(255, 255, 255, 0.059) 82.6%, rgba(255, 255, 255, 0.015) 91.2%, rgba(255, 255, 255, 0));


}


#downarrow {
   
    -webkit-animation: blink 1s infinite alternate;
}

/* bottom Navigation links */
#bottomNav {
    width: 100%;
    padding-right: var(--bs-gutter-x, 1.75rem) !important;
    padding-left: var(--bs-gutter-x, 1.75rem) !important;
    padding-top: 8px !important;
    padding-bottom: 12px !important;
    margin: 0;
    //padding-top: 15px;
    //padding-bottom: 15px;
    background-color: #fff;


    a {
        color: $primary;
        text-decoration: none;
    }

    ul {
        margin-bottom: 0;

        li {
            display: inline;


            a {
                color: $primary;
                text-decoration: none;
                margin-right: 30px;


            }

            &:last-child {
                margin-right: none;
            }
        }
    }
}

#currentproject {
    //padding: 0 !important;
    padding-left: 0 !important;
}

/* bottom Navigation: Next Project */
.nextProject {
    //padding: 0 !important;
    overflow: hidden;
    padding-right: 0 !important;

    a {
        position: relative;
        text-decoration: none;

    }

    .title-ctn {
        float: left;
        //width: 90%;
        width: 88.392%;
        overflow: hidden;


        div {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;

            margin-left: 0px;
            text-align: right;
        }
    }

    .paging {
        float: right;
        width: auto;
        //width: 11.607%;
        text-align: right;
        //padding-top: 6px;
        //height: 71px;

        div {
            display: block;
        }
    }

}



/* Increase footer font size on mobile */
@media (max-width: 576px) {

    #bottomNav .fs-5,
    #currentproject #downarrow a,
    .previousProject a,
    .nextProject a {
        //font-size: calc(1.275rem + 0.3vw) !important;
        font-size: 1.5rem !important;
    }
}



/*#thumbnails {
    // DOM element for triggering the intersection observer event
    // you can use 'height' to determine when the event is triggered
    height: 50rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: green;
  }
  
  body {
    font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica", "Open Sans", "Arial", sans-serif;
    background-color: #f3eee8;
  }
  
  .page {
    padding: 6rem 0;
    max-width: 600px;
    margin: 0 auto;
  }*/

//#bottomnav {

//position: -webkit-sticky;
//position: sticky;
//top: 2rem;
//padding: 1rem;
//line-height: 1.5;
//box-decoration-break: clone;
//z-index: 1;
//transition: all 300ms;
//will-change: color, background-color;

//&.enabled {
//color: white;
//background-color: #A70267;

//}
//}






//@media (max-width: 992px) {768 576
    @media (max-width: 1170px) {
//@media (max-width: 768px) {
//@media (max-width: 576px) {
//@media (max-width: 664px) {

    .col-3.blur.nextProject,
    .col-3.blur.previousProject {
        width: auto;
    }

    .title-ctn {
        display: none;
    }
}



/* bottom Navigation: Previous Project */
.previousProject {
    overflow: hidden;
    //padding-left: 0 !important;
    padding-right: 0;


    a {
        position: relative;
        text-decoration: none;

    }

    .title-ctn {
        float: right;
        width: 88.392%;
        //width: 90%;
        overflow: hidden;
        //padding-left: 1rem;



        div {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            -webkit-user-drag: none;
            -khtml-user-drag: none;
            -moz-user-drag: none;
            -o-user-drag: none;
            user-drag: none;

            margin-right: 0px;
        }
    }

    .paging {
        float: left;
        //width: 11.607%;
        width: auto;
        text-align: left;

        div {
            display: block;
        }
    }

}

/* Adjust arrows if they are used on the right mobile */
@media (max-width: 576px) {

    //@media (max-width: 768px) {
    .nextProject {
        //padding-right: 30px !important;
        width: auto !important;
    }


    .previousProject {
        padding: 0 !important;
        margin: 0 !important;
        width: auto !important;
    }

    #bottomMenu {
        //padding: 0 !important;
        //padding-right: var(--bs-gutter-x, 1.75rem);
        //padding-left: var(--bs-gutter-x, 1.75rem);
        width: 100% !important;
        width: auto !important;
    }
}


//@media (max-width: 939px) {
@media (max-width: 1050px) {

    .nextProject,
    .previousProject {
        .title-ctn {
            //width: 80%
            //width: 80%
            width: 75%;
        }
    }
}







//Swap page title description for 'all projects'
#logo button {
    color: $primary !important;
    width: 100%;
    max-width: 250px;
    padding:0;
    margin:0;
    text-align:left;
    //display: block; 
    display: inline;


    .love {
        //text-decoration: underline; white-space: nowrap;
        display: inline;
        color: $primary !important;

      

        //display: inline-block;
    
 
    

        //white-space: pre !important;
        &:after {
            content: ".";
            display: inline-block;
            position: relative;
            text-decoration: none !important;
        }
    }

    .home {
        //text-decoration: underline; white-space: nowrap;
        display: none;
        color: $primary !important;

        &:after {
            content: ".";
            display: inline-block;
            position: relative;
            text-decoration: none !important;
        }
    }

    &:hover>.home {
        display: inline;
        color: $primary !important;
    }

    &:hover>.love {
        display: none;
        color: $primary !important;
    }

}




/* Pagination */
.pagination {
    margin-bottom: 0 !important;

    .page-link:first-child {
        padding-left: 0 !important;
    }

    .page-item.active .page-link {
        filter: blur(2px);
    }


}


/* Thumbnails */
#thumbnails {
    position: relative;
    z-index: 1031;
    background-color: white;
}

/*@media (max-width: 992px) {*/
@media (max-width: 1170px) {
    #thumbnails {

        .col-md-2 {
            width: 25%;
            max-width: 25%;
        }
    }

}




@media (max-width: 576px) {
    #thumbnails {
        .col-md-2 {
            width: 50%;
            max-width: 50%;
        }
    }

}



/* Restuarants on Mission video columns */

/*@media (max-width: 992px) {*/
@media (max-width: 1170px) {
    #reVideos {
        .col-md-4 {
            width: 25% !important;
            max-width: 25% !important;
        }
    }


}

@media (max-width: 576px) {
    #reVideos {
        .col-md-4 {
            width: 50% !important;
            max-width: 50% !important;

        }
    }

}



@media (min-width: 768px) {
    #humanrobotvid {

        max-height: 1000px;
        overflow: hidden;

        div {
            overflow: hidden;

            video {
                display: block;
                width: 103.55%;
                max-width: 200% !important;
                width: auto\9;
                -ms-interpolation-mode: bicubic;
            }
        }
    }
}


