---
layout: portfolio
---

<div class="project-page">
  <a
    class="portfolio-project-close"
    href="{{ '/' | relative_url }}"
    aria-label="Close project and return to Work"
    title="Close project and return to Work"
    data-project-close
  >
    {% include icons/close.html %}
  </a>
  <div id="stickycontainer">
    {% unless page.sections %}
      {% capture project_opening %}{% include project/project-info.html %}{% endcapture %}
      {{ project_opening }}
      {% include project/hero.html %}
      {{ content | replace: project_opening, '' }}
    {% else %}
      {{ content }}
    {% endunless %}
  </div>
  {% include project/project-browser.html %}
</div>
