
<!----------------- begin about ----------------->
<div class="container-fluid" id="about" style="display: none; opacity: 0;">


    <!--begin about header-->
    <div class="container-fluid full-width headercontainer" id="aboutheader">

        <div class="container-fluid inner-container bg-light">
            <div class="row d-flex">

                <div class="col me-auto">
                    <ul>
                        <li><a class="black" href="mailto:jamusss@gmail.com" target="_blank">Email</a></li>
                        <li><a class="black" href="http://www.instagram.com/jamusmarquette"
                                target="_blank">Instagram</a></li>
                        <!--<li><a class="black" href="https://www.linkedin.com/in/jamusmarquette/"
                            target="_blank">LinkedIn</a></li>-->
                    </ul>

                </div>

                <div class="col" id="info">
                    <button type="button" class="closenav black">╳</button>
                </div>

            </div>
            <!--end nav row-->
        </div>
        <!--end nav container-->

        <div class="container-fluid nav-gradient"></div>

    </div>
    <!--end about header container-->

    <!-- end about header -->




    <!-- begin about info section -->
    <div class="container-fluid bg-light pt-5" id="aboutcontent">

        <div class="row mb-5 mb-md-6">
            <!-- begin about story -->
            <div class="offset-md-6 col-md-10 col-lg-9" id="aboutstory">
                <!--<h3 class="fs-5">About</h3>-->
                <p class="fs-4">Jamus is a conceptually driven, tech-savvy, multidisciplinary graphic and motion
                    designer, creative thinker, and problem solver interested in creating original, unexpected, and
                    intelligent design
                    that communicates authentic ideas and stories, and creates purposeful and meaningful experiences
                    that
                    advance goals, touch hearts, provoke the use of heads, and charm eyes.
                </p>

                <p class="fs-4">His talents have been developed at SpotCo under the art direction of Gail Anderson,
                    designing at
                    RED
                    Partners on a wide range of projects including branding, book design, book covers, posters,
                    environmental graphics, event graphics, web, and motion graphics for various clients, creating
                    award
                    winning theater posters with Kevin Brainard of Area of Practice, and as a freelance designer and
                    consultant while living abroad volunteering, developing
                    his character, and broadening his cultural perspective.</p>


                <!--<p class="fs-4">Jamus holds a BFA in graphic design from the School of Visual Arts, is a recipient
                    of the Silas H. Rhodes Scholarship, and was awarded The Rhodes Family Award for Outstanding
                    Achievement in Graphic Design as well as the Boyzzz Scholarship Award for Motion Graphics.</p>-->

                <!--<p class="fs-4">Jamus is available for freelance work, collaborations, and full-time hire.</p>-->
            </div>
            <!--end about story -->

        </div>



        <div class="row mb-6 mb-md-7">

            <!--begin education-->
            <div class="col-md-5 mb-5 mb-md-6" id="abouteducation">
                <h3 class="fs-5">Education</h3>
                <p class="fs-5">School of Visual Arts<br />
                    BFA Graphic Design<br />
                    2008</p>
            </div>
            <!--end work education-->


            <!-- begin about awards-->
            <div class="offset-md-1 col-md-10 col-lg-9  mb-5 mb-md-6" id="aboutawards">
                <h3 class="fs-5">Awards</h3>
                <ul class="fs-5">

                    <li>TDC57 Winner</li>
                    <li>TDC56 Winner</li>
                    <li><em>The Rhodes Family Award for Outstanding Achievement in Graphic Design</em>, SVA</li>
                    <li><em>The Boyzzz Scholarship Award—Motion Graphics Achievement Award</em>, SVA</li>
                    <li><em>Silas H. Rhodes Scholarship</em>, SVA</li>
                    <li>Top 10 Portfolio and Deans List, SVA</li>
                </ul>

            </div>
            <!-- end about awards-->


            <!-- begin recognition-->
            <div class="offset-md-6 col-md-10 col-lg-9" id="aboutpublication">
                <h3 class="fs-5">Recognition</h3>
                <ul class="fs-5">
                    <li>Published in <em>Graphic Style Lab: Develop Your Own Style with 50 Hands-On
                            Exercises</em>, by Steven
                        Heller</li>
                    <li>Published in <em>Design Firms Open for Business</em>, by Steven Heller and Lita
                        Talarico
                    </li>
                    <li>Published in <em>Typography 32</em></li>
                    <li>Published in <em>The Language of Graphic Design: An Illustrated Handbook for
                            Understanding
                            Fundamental
                            Design Principles</em>, by Richard Poulin</li>
                    <li>Works preserved in the <em>AIGA</em> Design Archives</li>
                    <li>Published in <em>Typography 31</em></li>
                    <li>Published in <em>CMYK Magazine’s Call For Aspiring Creatives #43</em></li>
                    <li>Works featured in <em>Art Directors Club Student Exhibition</em></li>
                    <li>Published in <em>Visual Literacy: A Conceptual Approach to Graphic Problem
                            Solving</em>,
                        by Richard Wilde and Judith Wilde.</li>
                </ul>

            </div>
            <!-- end recognition-->

        </div>


        <!-- begin contact info -->
        <div class="row">
            <div class="col-lg-6" id="aboutcontact">
                <h3 class="coloranimate">Say hello</h3>
                <p class="fs-4">Jamus is available for freelance work, collaborations, and full-time hire.</p>

                <p><a class="black" href="mailto:jamusss@gmail.com" target="_blank">jamusss@gmail.com</a><br />
                    <a class="black" href="http://www.instagram.com/jamusmarquette" target="_blank">Instagram
                        @jamusmarquette</a></p>


            </div>
        </div>
        <!--end contact info-->


    </div>
    <!--end about info section-->


</div>
<!------------------- end about ------------------>