<!----------------- begin footer ----------------->
<footer id="contactsection">
    <div class="container-fluid upgradient hidemobile" id="footergradient"></div>

    <div class="container-fluid" id="contact">

        <!--<div class="row pt-7 mb-6">

            <div class="col-lg-16 mb-7">
                <div class="md-text" id="moreprojects">

                    <a class="blur" href="./project/cnn_grill_at_sxsw/">Identity & Branding</a> /
                    <a class="blur" href="./project/cnn_grill_at_sxsw/environmental_graphics.html">Environmental
                        Graphics</a> /
                    <a class="blur" href="./project/motion_graphics/">Motion Graphics</a> /
                    <a class="blur" href="./project/theater_campaigns/">Theater Posters</a> /
                    <a class="blur" href="./project/wnet_thirteen/">Editorial</a> /
                    <a class="blur" href="./project/irvine_welsh_book_covers/">Book Covers</a> /
                    <a class="blur" href="./project/marcela_gandara_album_artwork/">Album Artwork</a> /
                    <a class="blur" href="./project/dirtbags/">Personal Projects</a>
                </div>
            </div>

        </div>-->


       


        <div class="row">


            <div class="col-md-5 col-16 order-sm-last ms-md-auto">

    <ul id="footernav"
        class="fs-5 list-unstyled mb-0 text-start text-md-end">

        <li>
            <a href="mailto:jamusss@gmail.com"
               target="_blank"
               class="black">
               Email
            </a>
        </li>

        <li>
            <a class="black"
               href="http://www.instagram.com/jamusmarquette"
               target="_blank">
               Instagram
            </a>
        </li>

    </ul>

</div>


            <div class="col-md-7">
               <p class="fs-5">© 2026 Jamus Marquette. </p>
            </div>

            
        </div>


    </div>


</footer>
<span id="bottom"></span>
<!----------------- end footer ----------------->



