<!----------------- begin footer ----------------->
<footer id="contactsection">
    <div class="container-fluid upgradient hidemobile" id="footergradient"></div>

    <div class="container-fluid" id="contact">

        <!--<div class="row pt-7 mb-6">

            <div class="col-lg-16 mb-7">
                <div class="md-text" id="moreprojects">

                    <a class="blur" href="./project/cnn_grill_at_sxsw/">Identity & Branding</a> /
                    <a class="blur" href="./project/cnn_grill_at_sxsw/environmental_graphics.html">Environmental
                        Graphics</a> /
                    <a class="blur" href="./project/motion_graphics/">Motion Graphics</a> /
                    <a class="blur" href="./project/theater_campaigns/">Theater Posters</a> /
                    <a class="blur" href="./project/wnet_thirteen/">Editorial</a> /
                    <a class="blur" href="./project/irvine_welsh_book_covers/">Book Covers</a> /
                    <a class="blur" href="./project/marcela_gandara_album_artwork/">Album Artwork</a> /
                    <a class="blur" href="./project/dirtbags/">Personal Projects</a>
                </div>
            </div>

        </div>-->


        <div class="row pt-7 mb-6" id="categories">

            <div class="offset-lg-8 col-lg-4 offset-md-8 col-md-4 rg-text" id="lftcol">




                <ul>
                    <li class="category"><a class="black category" href="{{ '/project/theater_campaigns/' | relative_url }}">Theater
                            Posters</a></li>

                    <li class="category"><a class="black category" href="{{ '/project/cnn_grill_at_sxsw/' | relative_url }}">Identity & Branding</a>
                    </li>

                    <li class="category"><a class="black category"
                            href="{{ '/project/irvine_welsh_book_covers/' | relative_url }}">Book Covers</a></li>

                    <li class="category"><a class="black category" href="{{ '/project/font_design/' | relative_url }}">Font Design</a></li>
                            
                    <li class="category"><a class="black category"
                            href="{{ '/project/websites/' | relative_url }}">Websites</a></li>


                </ul>
            </div>
            <div class="col-lg-4 col-md-4 mb-5 rg-text" id="rtcol">
                <ul>
                    <li class="category"><a class="black category" href="{{ '/project/wnet_thirteen/' | relative_url }}">Editorial & Publications</a></li>

                    <li class="category"><a class="black category" href="{{ '/project/illustrations/' | relative_url }}">Personal Projects</a>
                    </li>

                    <li class="category"><a class="black category" href="{{ '/project/motion_graphics/' | relative_url }}">Motion</a></li>

                    <li class="category"><a class="black category"
                            href="{{ '/project/interactive_tools/' | relative_url }}">Interactive Tools</a></li>

                    <li class="category"><a class="black category"
                            href="{{ '/project/environmentals_interactives/' | relative_url }}">Environmentals & Interactives</a></li>
                </ul>

            </div>


            <div class="offset-lg-8 col-lg-7 offset-md-8 col-md-5">

                <p class="rg-text mb-4">Send some love at <a href="mailto:jamusss@gmail.com" target="_blank"
                        class="black">jamusss@gmail.com</a> or connect on
                    <a class="black" href="http://www.instagram.com/jamusmarquette" target="_blank">Instagram</a>.
                    <!--<a class="black" href="https://www.linkedin.com/in/jamusmarquette/"
                            target="_blank">LinkedIn</a>-->
                </p>
            </div>

        </div>



        <div class="row">
            <div class="offset-md-1 col-md-5 col-16">
                <ul id="footernav" class="fs-5">
                    <li><a class="black" href="mailto:jamusss@gmail.com" target="_blank">Email</a></li>
                    <li><a class="black" href="http://www.instagram.com/jamusmarquette" target="_blank">Instagram</a>
                    </li>
                    <!--</li><a class="black" href="https://www.linkedin.com/in/jamusmarquette/"
                        target="_blank">LinkedIn</a></li>-->

                </ul>
            </div>

            <div class="col-md-7 order-sm-first">
                <p class="fs-5">© 2026 Jamus Marquette.</p>
            </div>
        </div>


    </div>


</footer>
<span id="bottom"></span>
<!----------------- end footer ----------------->



