<!----------------- begin header ----------------->
<div class="fixed-top container-fluid full-width headercontainer">
    <div class="container-fluid inner-container bg-light">
        <div class="row d-flex" id="logocontainer">
            <!--<div class="col col-md-11 me-auto" id="logo">-->
            <div class="col col-md-8 me-auto" id="logo">
                <span>Jamus loves</span>
                <button class="" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategories"
                    aria-expanded="false" aria-controls="collapseCategories">


                    <span class="love"
                        style="text-decoration: underline; white-space:nowrap;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="home" style="text-decoration: underline; white-space:nowrap;">unique projects</span>
                </button>

            </div>


            <!-- info -->
            <div class="col" id="info">
                <ul>
                    <li><a href="mailto:jamusss@gmail.com" target="_blank" class="black">Contact</a></li>
                    <li><button type="button" class="opennav black">Info</button></li>
                </ul>
            </div>
            <!-- end info -->

        </div>
        <!--end row-->


        <!-- collapsed info -->
        <div class="row collapse" id="collapseCategories">
            <div class="col-md-8 me-auto" id="collapseCategoriesList">

                <ul>
                    <li class="category"><a class="black category" href="./project/theater_campaigns/">Theater
                            Posters</a>
                    </li>
                    <li class="category"><a class="black" href="./project/cnn_grill_at_sxsw/">Identity &
                            Branding</a></li>

                    <li class="category"><a class="black category"
                            href="./project/irvine_welsh_book_covers/">Book Covers</a>
                    </li>
                    <li class="category"><a class="black category" href="./project/wnet_thirteen/">Editorial & Publications</a>
                    </li>
                    <li class="category"><a class="black category" href="./project/illustrations/">Personal
                            Projects</a></li>
                    <li class="category"><a class="black category" href="./project/motion_graphics/">Motion</a>
                    </li>

                    <!-- NEW Categories-->
                    <li class="category"><a class="black category" href="./project/font_design/">Font Design</a>
                    </li>

                    <li class="category"><a class="black category" href="./project/websites/">Websites</a>
                    </li>
                    
                    <li class="category"><a class="black category" href="./project/tools/">Interactive Tools</a>
                    </li>

                    <li class="category"><a class="black category" href="./project/tools/">Environmentals & Interactives</a>

                </ul>

            </div>

            <div class="col-md-1" id="collapseCategoriesClose">

                <ul>
                    <li class="category text-end"><a class="black" data-bs-toggle="collapse"
                            href="#collapseCategories" role="button" aria-expanded="false"
                            aria-controls="collapseCategories">
                            ╳
                        </a></li>
                </ul>

            </div>

            <!--end col-->
        </div>
        <!--end row-->
        <!-- end collaped info -->



    </div><!-- end container -->
    <div class="container-fluid nav-gradient"></div>
</div>
<!------------------ end header ----------------->
