<div
    class="col-md-4 project-card"
    data-category="{% for category in include.project.categories %}{% assign category_slug = category | slugify %}{% if category == 'Identity & Branding' %}{% assign category_slug = 'branding' %}{% elsif category == 'Editorial & Publications' %}{% assign category_slug = 'editorial' %}{% elsif category == 'Personal Projects' %}{% assign category_slug = 'personal' %}{% elsif category == 'Environmentals & Interactives' %}{% assign category_slug = 'environmentals' %}{% elsif category == 'Theater Art' %}{% assign category_slug = 'theater' %}{% endif %}{{ category_slug }}{% unless forloop.last %}{{ ' ' }}{% endunless %}{% endfor %}"
>

    <div class="content">

        <a
            class="project-card-image-link"
            href="{{ include.project.url | relative_url }}"
            aria-label="{{ include.project.title }}"
        >

            <div class="content-overlay"></div>

            <img
                class="content-image"
                src="{{ include.project.thumbnail | relative_url }}"
                alt="{{ include.project.title }}"
            >

        </a>

        <div class="content-details">

            <h3 class="rg-text">
                <a
                    class="black project-card-title"
                    href="{{ include.project.url | relative_url }}"
                >
                    {{ include.project.title }}
                </a>
            </h3>

            <p class="fs-5 project-card-categories">
                {% for category in include.project.categories %}
                    {% assign category_slug = category | slugify %}
                    {% if category == 'Identity & Branding' %}
                        {% assign category_slug = 'branding' %}
                    {% elsif category == 'Editorial & Publications' %}
                        {% assign category_slug = 'editorial' %}
                    {% elsif category == 'Personal Projects' %}
                        {% assign category_slug = 'personal' %}
                    {% elsif category == 'Environmentals & Interactives' %}
                        {% assign category_slug = 'environmentals' %}
                    {% elsif category == 'Theater Art' %}
                        {% assign category_slug = 'theater' %}
                    {% endif %}
                    <a
                        class="black category-filter project-card-category"
                        data-category="{{ category_slug }}"
                        href="{{ '/?category=' | append: category_slug | append: '#projects-jump' | relative_url }}"
                    >{{ category }}</a>{% unless forloop.last %}, {% endunless %}
                {% endfor %}
            </p>

        </div>

    </div>

</div>
