---
title: Home
layout: default
---

    <!----------------- begin intro ----------------->
    <div class="container-fluid mb-6 mb-md-0" id="intro">

        <div class="row">
            <div class="col-md-17 col-lg-15" id="intro-paragraph">
             
               <h1 class="lg-text" id="introText">Jamus creates 
                <span class="keep-color">unique</span>
                 artwork that communicates
                  <span class="keep-color">unique</span>
                 stories to 
                 <span class="keep-color">unique</span>
                    audiences to reach 
                    <span class="keep-color">unique</span>
                     goals for 
                     <span class="keep-color">unique</span> 
                     people.</h1>



              
            </div>

        </div>
        <!--Opening Paragraph-->


         <!----------------- begin scrolling words -----------------
    <div class="scrolling-words">
  <div class="scrolling-track">
    <span>Theater Posters,</span>
    <span>Branding,</span>
    <span>Interactives,</span>
    <span>Environmentals,</span>
    <span>Book Covers,</span>
    <span>Invisible Sculpting,</span>
    <span>Personal Projects,</span>
    <span>Motion,</span>
    <span>Font Design,</span>
    <span>Bird Law,</span>
    <span>Font Engineering,</span>
    <span>Lion Taming,</span>
    <span>Website Design,</span>
    <span>Fog Manufacturing,</span>
    <span>Interactive Tools,</span>
    <span>Systems,</span>
    <span>Illustratio,</span>
    <span>Editorial & Publications,</span>

    
  </div>
</div>
!----------------- end scrolling words ----------------->

    </div>
    <!----------------- end intro ----------------->


   


<!----------------- begin work ----------------->

<div class="container-fluid infohide" id="work"><!-- add class projectsgradient to show background gradient-->

    <div class="row d-flex align-items-start">

        {% assign projects = site.data.projects | sort: "order" %}

        {% for project in projects %}

            {% include project-card.html project=project %}

        {% endfor %}

    </div>

</div>

<!------------------- end work ------------------->